gui/smart_parking/.vs/*
gui/smart_parking/.vs/**
detect_plate/venv
detect_plate/__cache__
detect_plate/.idea
detect_plate/.idea/*
gui/smart_packing/.vs/smart_packing/FileContentIndex/2c61bd81-ecb6-4497-ba9f-378b6e751324.vsidx
